<h1>Vehicles Information</h1>
{{#each model as |item|}}
    <div style="list-style-type: none;">
        <table class="table .table-striped">
            <thead>
            <tr>
                <td class="col-xs-3"></td>
                <td class="col-xs-9"></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="bold">ID:</td>
                <td> {{item.id}}</td>
            </tr>
            <tr>
                <td class="bold">Name:</td>
                <td> {{item.name}}</td>
            </tr>
            <tr>
                <td class="bold">Brand</td>
                <td>{{item.brand}}</td>
            </tr>
            <tr>
                <td class="bold">Age:</td>
                <td>{{item.age}}</td>
            </tr>
            <tr>
                <td class="bold">Type:</td>
                <td>{{item.type}}</td>
            </tr>
            <tr>
                <td>{{#link-to 'schedule.view' item.id tagName="li"}}
                    <a class="btn btn-sm btn-default navbar-secondary-btn">schedule</a>{{/link-to}}{{outlet}}</td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-sm btn-primary navbar-secondary-btn" {{action 'remove' item.id}}>Remove
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{{/each}}

<div class="form-group col-md-6 has-feedback">
    <label>Vehicles ID</label>
    {{input value=vehicles_id type='text' class='form-control' placeholder='Enter Vehicles id'}}
    <label>Vehicles Name</label>
    {{input value=vehicles_name type='text' class='form-control' placeholder='Enter Vehicles name'}}
    <label>Vehicles License ID</label>
    {{input value=vehicles_brand type='text' class='form-control' placeholder='Enter Vehicles brand'}}
    <label>Vehicles Age</label>
    {{input value=vehicles_age type='text' class='form-control' placeholder='Enter Vehicles age'}}
    <label>Vehicles Type</label>
    {{input value=vehicles_type type='text' class='form-control' placeholder='Enter Vehicles type'}}
</div>
<div>
    <div class="pane-actions">
        <ul class="list-h pull-right">
            <li style="list-style-type:none">
                <button class="btn btn-sm btn-primary navbar-secondary-btn"  {{action 'add'}}>Add</button>
            </li>
        </ul>
    </div>
</div>